

<div class="container mt-5">
    <div class="row">
      <div class="col-sm-4">
        <h2><b>Стрілець</b></h2>
            <h3>Кохання</h3>
                <p>Сьогодні ви можете відчувати себе особливо енергійними. Це може відобразитися і в вашому романтичному житті, створюючи яскраві та цікаві моменти з вашим партнером. Якщо ви самотні, це чудовий час для нових знайомств та цікавих зустрічей.</p>
            <h3>Робота</h3>    
                <p>Сьогодні ваша енергія може бути особливо продуктивною на роботі. Ви можете відчувати себе вдячним за виклики і можливості, які надаються вам. Будьте відкриті до нових ідей і способів розв'язання проблем, це може принести несподівані успіхи.</p>
            
      </div>
      <div class="col-sm-4">
        <h2><b>Діва</b></h2>
            <h3>Кохання</h3>
                <p>Зосередьтеся на взаєморозумінні та спільній підтримці. Будьте відкриті до спілкування і готові вислухати потреби та бажання свого партнера.</p>
            <h3>Робота</h3>
                <p>Сьогодні ваша організованість і систематичний підхід можуть принести великий успіх на роботі. Зосередьтеся на завершенні поточних проєктів і плануванні майбутніх кроків. Будьте уважні до деталей і використовуйте свій аналітичний розум, щоб приймати обдумані рішення.</p>
            
        
      </div>
      <div class="col-sm-4">
        <h2><b>Лев</b> </h2>
            <h3>Кохання</h3>        
                <p>Сьогодні ваша харизма може привертати увагу і збільшувати вашу привабливість у стосунках. Ви можете опинитися в центрі уваги, але також не забувайте приділяти увагу своєму партнерові. Збалансуйте свої потреби з потребами інших, щоб забезпечити гармонію у ваших стосунках.</p>
            <h3>Робота</h3>
                <p>Сьогодні ваші лідерські риси можуть бути особливо цінними на робочому місці. Вам доведеться прийняти важливі рішення або взяти на себе керівну роль у проєкті. Важливо пам'ятати про співпрацю з колегами і враховувати їхні ідеї та пропозиції.</p>
            
        </div>
    </div>
  </div>

